.header {
  display: none;
  width: 100%;
  height: 65px;
  z-index: var(--z_header);
  opacity: 1;
  transition: opacity 0.25s;
  text-transform: uppercase;
  color: var(--text_primary_color);
  background-image: linear-gradient(to bottom, var(--bg_primary_gradient));
}

.nav {
  width: 100%;
  display: flex;
  gap: 10px;
  padding: 20px 0;
  color: var(--border_highlight_color);
}

.link {
  color: var(--text_primary_color);
}

@media (min-width: 1200px) {
  .header {
    display: block;
    position: fixed;
  }

  .header.hide {
    opacity: 0;
  }
}
